//
//  Secrets.xcconfig
//  InfyUSDK
//
//  Created by Brinda Davda on 16/02/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 35c3e1ae-1c36-471b-9ed0-b8085aebeaa2
MY_URL = track.infyulabs.com/api/unity-ios-sdk
SIMPLE_SLASH=/
BASE_URL = https:${SIMPLE_SLASH}/${MY_URL}
